// @import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,600,700,900i');
@font-face {
    font-family: badassFont;
    src: url('Fonts/Slash.ttf');
}

@font-face {
    font-family: ProximaNova;
    src: url('Fonts/proxima-nova.otf');
}

html{
    font-size: 62.5%;
    background-color: rgb(30,30,30);
    display: flex;
    // height: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: $m-size;
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex-shrink: 0;
}

#root {
    display: flex;
    flex-basis: 100%;
    flex-shrink: 0;
    padding: 0;
}

button{
    cursor: pointer;
}
button:disabled{
    cursor: default;
}

.is-active{
    font-weight: bold;
}