//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 9.6rem;

$desktop-breakpoint: 45rem;


//colors

$white-blue: #E6F0EF;
$clear-black: rgb(30, 30, 30);
$custom-pink: #EE3B94;