.app-container{
    background-color: rgb(30,30,30);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex-shrink: 0;
    // height: 100%;
}

.container-component-container {
    display: flex;
    flex: 0 0 100%;
    flex-direction: row;
    // margin-left: calc(50% - 47.5%);
    flex-wrap: wrap;
    position: relative;
    top: 70px;
    bottom: -70px;
    min-height: 500px;
    // overflow: scroll;
}