.portfolio{
    display: flex;
    flex: 0 0 100%;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    color: white;
}

.portfolio__pink-line{
    width: 100%;
    position: absolute;
    height: 1px;
    top: 85px;
    background-color: $custom-pink;
    z-index: 6;
}

.portfolio__content-container{
    display: flex;
    flex-direction: column;
    flex-basis: 90%;
    background-color: black;
    box-sizing: border-box;
    padding-bottom: 5%;
    padding-top: 120px;
    margin-bottom: 5%;
}

.portfolio__title{
    color: $custom-pink;
    font-weight: 900;
    font-size: $l-size;
    background-color: black;
    position: absolute;
    top: 70px;
    left: 10%;
    padding: 0 10px;
    z-index: 7;
}

.portfolio__slider{
    width: 100%;
}

.portfolio__slider__content{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0;
}

.portfolio__slider__content__slide{
    display: flex;
    flex-direction: column;
    flex-basis: 100vw;
    flex-grow: 1;
//     flex-shrink: 0;
//     flex-grow: 0;
//     width: 100%;
//     justify-content: space-between;
}

.portfolio__slider__content__slide__game-content{
    display: flex;
    flex-direction: row;
    flex-basis: 400px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
    // background-color: white;
//     flex-grow: 1;
//     margin-top: 5%;
}

.portfolio__slider__content__slide__game-content--right{
    margin-right: 20%;
    justify-content: flex-end;
}

.portfolio__slider__content__slide__game-content--left{
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-left: 20%;
}

.portfolio__game-presentation{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 40%;
    // color: white;
    margin-right: 5%;
    margin-left: 5%;
    box-sizing: border-box;
}

.portfolio__game__image{
    display: flex;
    flex-basis: 10%;
    height: 40%;
    align-self: center;
    background-size: cover;
}

.portfolio__slide__game-title{
    text-align: center;
    font-size: $l-size;
    font-weight: 900;
}

.portfolio__slide__game-description{
    text-align: center;
}

.portfolio__slide__learn-more-btn{
    border: 1px solid white;
    width: 100px;
    align-self: center;
    color: white;
    font-size: $s-size;
    background-color: black;
    padding: 5px;
    box-sizing: border-box;
}

@media screen and (max-width: 600px){
    .portfolio__title{
        top: 50px;
    }
    .portfolio__pink-line{
        top: 65px;
    }

    .portfolio__slider__content__slide__game-content{
        flex-direction: column-reverse;
        margin: 0;
        margin-bottom: 30px;
    }

    .portfolio__game-presentation{
        flex-basis: 400px;
        flex-shrink: 1;
    }

    .portfolio__game__image{
        height: auto;
        width: 90%;
        align-self: center;
    }
}